<html>
  <head>
    <title>YoTube</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/main.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="col-sm-12 yotuber yoheader clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>YOTUBERS</p>  
      </div>
    </div>
    <div class="col-sm-12 yotuber clearfix">
      <div class="col-sm-9 col-sm-offset-3">
        <small>Get YO'd when your favorite youtubers or playlists upload a new video!</small>  
      </div>
    </div>
    <div data-username="ERB" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>ERB</p>  
      </div>
    </div>
    <div data-username="screenjunkies" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>HONESTTRAILERS</p>  
      </div>
    </div>
    <div data-username="nigahiga" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>NIGAHIGA</p>  
      </div>
    </div>
    <div data-username="smosh" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>SMOSH</p>  
      </div>
    </div><div data-username="knngill" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>KANANGILL</p>  
      </div>
    </div>
    <div data-username="JennaMarbles" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>JENNAMARBLES</p>  
      </div>
    </div>
    <div data-username="HISHEdotcom" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>HOWITSHOULDHAVEENDED</p>  
      </div>
    </div>
    <div data-username="HowToDrawReallyGood" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>HOWTODRAWREALLYGOOD</p>  
      </div>
    </div>
    <div data-username="teamcoco" class="col-sm-12 yotuber clearfix">
      <div class="yopic col-sm-3">
        <img src="">
      </div>
      <div class="col-sm-9">
        <p>TEAMCOCO</p>  
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
    <script src="static/yo.js"></script>
  </body>
</html>